<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News Website</title>
	<link rel="stylesheet" href="/NewsWebsite/css/styles.css">
	<script src="/NewsWebsite/js/application.js"></script>
	<script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script> 
			$(function(){
			  $("#header").load("header.html");
			  $.ajax({
			   type: "GET",
			   url: 'https://cors.io/?http://feeds.reuters.com/reuters/businessNews',
			   contentType:"application/xml",
			   success: function(response){
			   		var xml = $.parseXML(response),
			   		$response = $(xml),
			   		$title = $response.find("title");
			   		$(".heading").append($title.text());

			   	},
			   	error: function (result, status, err){
                 //run only the callback without attempting to parse result due to error
                 console.log("Found error")
               }
			  });
			});
		</script>
</head>
<body>
	<div id="header"></div>
	<a href="templates/header.html"></a>
	<h1>Business News</h1>

	<h4 class = "heading"></h4>

</body>
</html>