<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News Website</title>
	<link rel="stylesheet" href="/NewsWebsite/css/styles.css">
	<script src="/NewsWebsite/js/application.js"></script>
	<script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script> 
			$(function(){
			  $("#header").load("header.html");
			  $.ajax({
			   type: "GET",
			   url: 'https://cors.io/?http://feeds.reuters.com/reuters/businessNews',
			   contentType:"application/xml",
			   success: function(response){
			   		// console.log(response);
			   		var xml = $.parseXML(response),
			   		$response = $(xml),
			   		$titles = $response.find("title");
			   		$.each($titles, function( title, name ) {
  						if (name.innerHTML != undefined) {
  							$("<a />", { href:"https://www.google.com", text: name.innerHTML}).appendTo("#titles").append("<br/>");
  							//document.getElementById("titles").append("&lt;ul&gt;" + name.innerHTML + "&lt;/ul&gt;<br/>");	
  						}  						
					});
			   		/*var titles = $("#heading").append($title.text());
			   		displaytitles();
			   		// var titles = xml;
			   		console.log(titles);
			   		function displaytitles(){
			   			var theTitle = document.getElementById("heading").value;
			   			//console.log(theTitle);
			   			// titles.push(theTitle);
			   			// document.getElementById("heading").children[0].innerHTML += "<li>"+titles[titles.length-1]+"</li>";
			   		}*/
			   	},
			   	error: function (result, status, err){
                 //run only the callback without attempting to parse result due to error
                 console.log("Found error")
               }
			  });
			});

		</script>
</head>
<body>
	<div id="header"></div>
	<a href="templates/header.html"></a>
	<h1>Business News</h1>
	<h4 id = "heading"></h4>
	<div id="titles"><ul></ul></div>
	<!-- <script type="text/javascript">
		displaytitles();
	</script> -->
</body>
</html>